extends layout

block head
  link(rel='stylesheet', href='/stylesheets/flip-card.css')
  script(src="./javascripts/index.js")
block content
  .container-fluid
    .row
      .col-12
        h1  title
      .col-12.prompt
        .row
          .col-5
            .form-group
              label(for="") Prompts
              .row
                .col-12
                  button.btn.btn-sm.btn-default#initGame Inizia
          .col-7
            .form-group
              label(for='counterTries') Tentativi:
              input.form-control.input-sm(readonly)#counterTries
    .row
      .col-12.grid
        .row
          -for(var i=0; i<18; i++)
            .col-2.text-center
              //- .card
              <div class="flip-container">
                <div class="flipper">
                  <div class="front">
                    h1(style="margin: 50% auto;") ?
                  </div>
                  <div class="back">
                    h1(style="margin: 50% auto;")
                  </div>
                </div>
              </div>