doctype html
html
  head
    title= title
    script(src='/assets/polyfill.js')
    script(src='/assets/jquery.js')
    script(src='/assets/js/bootstrap.js')
    link(rel='stylesheet', href='/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block content
