doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/jquery/jquery.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block content
